@using Eventeam.Models
@model Eventeam.Models.PlatformViewModel
@{
    ViewBag.Active = "Площадки";
}
<!-- Wrapper -->

<div class="wrapper">

<!-- Topic Header -->

<div class="topic">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Гостиница</h3>
            </div>
            <div class="col-sm-8">
                <ol class="breadcrumb pull-right hidden-xs">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Главная</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Platforms", "Platforms")">Площадки</a>
                    </li>
                    <li class="active">Гостиница</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container shop-item">
<div class="row">
<div class="col-sm-12">
<div class="row">
    <div class="col-sm-12">
        <h2 class="headline first-child">
            <span>@Model.Name</span>         
        </h2>
        <ul class="rating list-inline">
            @for (var i = 0; i < Model.LevelName; ++i)
            {
                <li>
                    <i class="fa fa-star"></i>
                </li>
            }
        </ul>

        <div>@Model.CityName, @Model.Address</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <div class="portfolio-slideshow">
            <!-- Image Carousel -->
            <div id="portfolio-slideshow" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner narrow">
                    @for (var i = 0; i < Model.PlatformPhotos.Count; ++i)
                    {
                        var p = @Model.PlatformPhotos[i];
                        var item = i == 0 ? "item active" : "item";

                        <div class="@item">
                            <img src=@Url.Content(p.Link) class="img-responsive" alt="@p.Alt">
                        </div>
                    }
                </div>

                <!-- Controls -->
                <a class="carousel-arrow carousel-arrow-prev" href="#portfolio-slideshow" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-arrow carousel-arrow-next" href="#portfolio-slideshow" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <table class="table">
            <tbody>
            @if (Model.Hotel.RoomCount.HasValue)
            {
                <tr>
                    <td>Количество номеров</td>
                    <td>@Model.Hotel.RoomCount</td>
                </tr>
            }

            @if (Model.Hotel.Capacity.HasValue)
            {
                <tr>
                    <td>Проживание, чел. макс.</td>
                    <td>@Model.Hotel.Capacity</td>
                </tr>
            }

            @if (Model.HallsCount.HasValue)
            {
                <tr>
                    <td>Количество залов</td>
                    <td>@Model.HallsCount</td>
                </tr>
            }

            @if (Model.HallCapacity.HasValue)
            {
                <tr>
                    <td>Конференция, чел. макс.</td>
                    <td>@Model.HallCapacity</td>
                </tr>
            }

            @if (Model.RestaurantsCount.HasValue)
            {
                <tr>
                    <td>Количество ресторанов</td>
                    <td>@Model.RestaurantsCount</td>
                </tr>
            }

            @if (Model.BanquetCapacity.HasValue)
            {
                <tr>
                    <td>Банкет, чел. макс.</td>
                    <td>@Model.BanquetCapacity</td>
                </tr>
            }

            @if (Model.BuffetCapacity.HasValue)
            {
                <tr>
                    <td>Фуршет, чел. макс.</td>
                    <td>@Model.BuffetCapacity</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@if (Model.Halls != null)
{
    <div class="row">
        <div class="col-sm-12">
            <h3 class="headline">
                <span>Залы</span>
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <span>Название</span>
                    </th>
                    <th>
                        <span>Площадь, м2</span>
                    </th>
                    <th>
                        <span>Театр</span>
                    </th>
                    <th>
                        <span>Класс</span>
                    </th>
                    <th>
                        <span>П-посадка</span>
                    </th>
                    <th>
                        <span>Переговоры</span>
                    </th>
                    <th>
                        <span>Банкет</span>
                    </th>
                    <th>
                        <span>Фуршет</span>
                    </th>
                    <th>
                        <span>Оборудование</span>
                    </th>
                </tr>
                </thead>
                <tbody>

                @foreach (var h in Model.Halls)
                {
                    var theater = h.Theater?.ToString() ?? "x";
                    var classType = h.Class?.ToString() ?? "x";
                    var pPlanting = h.PPlanting?.ToString() ?? "x";
                    var meetingRoom = h.MeetingRoom?.ToString() ?? "x";
                    var banquet = h.Banquet?.ToString() ?? "x";
                    var buffet = h.Buffet?.ToString() ?? "x";

                    <tr>
                        <td>@h.Name</td>
                        <td>@h.TotalSquare</td>
                        <td>@theater</td>
                        <td>@classType</td>
                        <td>@pPlanting</td>
                        <td>@meetingRoom</td>
                        <td>@banquet</td>
                        <td>@buffet</td>
                        <td>@h.Equipment</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.Restaurants != null)
{
    <div class="row">
        <div class="col-sm-12">
            <h3 class="headline">
                <span>Рестораны</span>
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <span>Название</span>
                    </th>
                    <th>
                        <span>Тип кухни (основная)</span>
                    </th>
                    <th>
                        <span>Посадочных мест</span>
                    </th>
                    <th>
                        <span>Банкет</span>
                    </th>
                    <th>
                        <span>Фуршет</span>
                    </th>
                </tr>
                </thead>
                <tbody>

                @foreach (var r in Model.Restaurants)
                {
                    var seating = r.Seating?.ToString() ?? "x";
                    var banquet = r.Banquet?.ToString() ?? "x";
                    var buffet = r.Buffet?.ToString() ?? "x";

                    <tr>
                        <td>@r.Type "@r.Name"</td>
                        <td>@r.KitchenName</td>
                        <td>@seating</td>
                        <td>@banquet</td>
                        <td>@buffet</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.Hotel.Rooms != null)
{
    <div class="row">
        <div class="col-sm-12">
            <h3 class="headline">
                <span>Номера</span>
            </h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <span>Название</span>
                    </th>
                    <th>
                        <span>Категория</span>
                    </th>
                    <th>
                        <span>Тип размещения</span>
                    </th>
                    <th>
                        <span>Количество</span>
                    </th>
                </tr>
                </thead>
                <tbody>

                @foreach (var r in Model.Hotel.Rooms)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.RoomCategoryName</td>
                        <td>@r.RoomTypeName</td>
                        <td>@r.Quantity</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <h3 class="headline">
            <span>Дополнительно</span>
        </h3>
        <p>
            <ul class="list-style-none">
                <li>
                    <img src="../../images/icons/ico-entertainment.svg" class="platform-icon" />
                    @Model.Hotel.Entertainment
                </li>
                <li>
                    <img src="../../images/icons/ico-health.svg" class="platform-icon" />
                    @Model.Hotel.Rehabilitation
                </li>
                <li>
                    <img src="../../images/icons/ico-parking.svg" class="platform-icon" />
                    @Model.Hotel.Parking
                </li>
                <li>
                    <img src="../../images/icons/ico-internet.svg" class="platform-icon" />
                    @Model.Hotel.Internet
                </li>
                <li>
                    <img src="../../images/icons/ico-other.svg" class="platform-icon" />
                    @Model.Hotel.Other
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3 class="headline">
            <span>Расположение</span></h3>
        <p>
            <ul class="list-style-none">
                <li>Город: @Model.CityName</li>
                <li>Расположение: @Model.LocationName</li>
                <li>Адрес: @Model.Address</li>

                @if (!string.IsNullOrEmpty(Model.Subway))
                {
                    <li>
                        <img src="../../images/icons/ico-metro.svg" class="platform-icon" />
                        @Model.Subway
                    </li>
                }

                @if (Model.DistanceRailwayStation.HasValue)
                {
                    <li>
                        <img src="../../images/icons/ico-train.svg" class="platform-icon" />
                        @Model.DistanceRailwayStation
                    </li>
                }

                @if (Model.DistanceAirportBorispil.HasValue)
                {
                    <li>
                        <img src="../../images/icons/ico-airport-b.svg" class="platform-icon" />
                        "Борисполь" @Model.DistanceAirportBorispil
                    </li>
                }

                @if (Model.DistanceAirportZhulyany.HasValue)
                {
                    <li>
                        <img src="../../images/icons/ico-airport-g.svg" class="platform-icon" />
                        "Жуляны" @Model.DistanceAirportZhulyany
                    </li>
                }
            </ul>
        </p>
    </div>
</div>

</div>
</div>

<!-- Google Map -->
<div id="canvasHotel" style="width: 100%; height: 400px;"></div>

</div> <!-- / .container -->

</div> <!-- / .wrapper -->


@section scripts
{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>

    @Scripts.Render("~/bundles/platform")

    <script>
        map.init(@Model.Geography.Latitude, @Model.Geography.Longitude, '@Model.Address');
    </script>
}