<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/images/ico/favicon.ico">

        <title>Eventeam</title>

        <!-- CSS Global -->
        <link href="~/Content/style.css" rel="stylesheet">

        <!-- CSS Plugins -->
        <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/Content/animate.css" rel="stylesheet">
        
        <!-- CSS Custom -->
        <link href="~/Content/site.css" rel="stylesheet">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href="~/Content/lightbox.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="..."></a>
                </div>
                <div class="collapse navbar-collapse">
                    <a class="btn btn-theme-primary navbar-btn navbar-right hidden-sm hidden-xs">Sign In</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Home")">Home: Default</a></li>
                                <li><a href="@Url.Action("IndexFull", "Home")">Home: Fullscreen</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">About Us</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("AboutUs", "Home")">About Us: Default</a></li>
                                        <li><a href="@Url.Action("AboutUsOption1", "Home")">About Us: Option 1</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("ComingSoon", "Home")">Coming Soon</a></li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Contact Us</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ContactUs", "Home")">Contact Us: Default</a></li>
                                        <li><a href="@Url.Action("ContactUsOption1", "Home")">Contact Us: Option 1</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("HelpCenter", "Home")">Help Center</a></li>
                                <li><a href="@Url.Action("HelpItem", "Home")">Help Item</a></li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Pricing Options</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Pricing", "Home")">Pricing: Boxes</a></li>
                                        <li><a href="@Url.Action("PricingJoint", "Home")">Pricing: Joint Boxes</a></li>
                                        <li><a href="@Url.Action("PricingTable", "Home")">Pricing: Table</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("ResponsiveVideo", "Home")">Responsive Video</a></li>
                                <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                                <li><a href="@Url.Action("SignIn", "Home")">Sign In</a></li>
                                <li><a href="@Url.Action("SignUp", "Home")">Sign Up</a></li>
                                <li><a href="@Url.Action("SearchResults", "Home")">Search Results</a></li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Timeline</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("TimelineCenter", "Home")">Timeline: Center</a></li>
                                        <li><a href="@Url.Action("TimelineLeft", "Home")">Timeline: Left</a></li>
                                        <li><a href="@Url.Action("TimelineRight", "Home")">Timeline: Right</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("ErrorPage", "Home")">404 Error Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Portfolio", "Projects")">Portfolio</a></li> 
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("BlogSidebarRight", "Home")">Sidebar Right</a></li>
                                        <li><a href="@Url.Action("BlogSidebarLeft", "Home")">Sidebar Left</a></li>
                                        <li><a href="@Url.Action("BlogSidebarNo", "Home")">Without Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Blog Post</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("BlogPostSidebarRight", "Home")">Sidebar Right</a></li>
                                        <li><a href="@Url.Action("BlogPostSidebarLeft", "Home")">Sidebar Left</a></li>
                                        <li><a href="@Url.Action("BlogPostSidebarNo", "Home")">Without Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Shop", "Home")">Shop</a></li>
                                <li><a href="@Url.Action("ShopItem", "Home")">Shop Item</a></li>
                                <li><a href="@Url.Action("ShoppingCart", "Home")">Shopping Cart</a></li>
                                <li><a href="@Url.Action("UserProfile", "Home")">User Profile</a></li>
                            </ul>
                        </li>
                        <li class="hidden-sm">
                            <a href="@Url.Action("UiElements", "Home")">UI Elements</a>
                        </li>
                        <!-- Navbar Search -->
                        <li class="hidden-xs hidden-sm" id="navbar-search">
                            <a href="#">
                                <i class="fa fa-search"></i>
                            </a>
                            <div class="hidden" id="navbar-search-box">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Mobile Search -->
                    <form class="navbar-form navbar-right visible-xs visible-sm" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-theme-primary" type="button">Search!</button>
                            </span>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div> <!-- / .navigation -->
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Contact Us -->
                    <div class="col-sm-4">
                        <h4><i class="fa fa-map-marker text-theme-primary"></i> Contact Us</h4>
                        <p>Do not hesitate to contact us if you have any questions or feature requests:</p>
                        <p>
                            San Francisco, CA 94101<br />
                            1987 Lincoln Street<br />
                            Phone: +0 000 000 00 00<br />
                            Fax: +0 000 000 00 00<br />
                            Email: <a href="#">admin@mysite.com</a>
                        </p>
                    </div>
                    <!-- Recent Tweets -->
                    <div class="col-sm-4">
                        <h4><i class="fa fa-twitter-square text-theme-primary"></i> Recent Tweets</h4>
                        <div class="tweet">
                            <i class="fa fa-twitter fa-2x"></i>
                            <p>
                                Ut tincidunt erat quis viverra consectetur. Suspendisse tempus vulputate leo.
                                <a href="#">1 day ago</a>
                            </p>
                        </div>
                        <div class="tweet">
                            <i class="fa fa-twitter fa-2x"></i>
                            <p>
                                Mauris eget lacus ut ipsum dignissim malesuada quis nec ante.
                                <a href="#">2 days ago</a>
                            </p>
                        </div>
                    </div>
                    <!-- Newsletter -->
                    <div class="col-sm-4">
                        <h4><i class="fa fa-envelope text-theme-primary"></i> Newsletter</h4>
                        <p>
                            Enter your e-mail below to subscribe to our free newsletter.
                            <br>
                            We promise not to bother you often!
                        </p>
                        <form class="form" role="form">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <label class="sr-only" for="subscribe-email">Email address</label>
                                        <input type="email" class="form-control" id="subscribe-email" placeholder="Enter your email">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default">OK</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright">
                        Copyright &copy; 2014 - @DateTime.Now.Year. Eventeam. All Rights Reserved
                    </div>
                </div>
            </div>  <!-- / .row -->
        </div> <!-- / .container -->
       
        <!-- JS Global -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

        <!-- JS Plugins -->
        <script src="~/Scripts/scrolltopcontrol.js"></script>
        <script src="~/Scripts/lightbox.min.js"></script>
        <script src="~/Scripts/isotope.pkgd.min.js"></script>
        <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
        <script src="~/Scripts/jquery.bootpaq.min.js"></script>

        <!-- JS Custom -->
        <script src="~/Scripts/custom.js"></script>
        <script src="~/Scripts/index.js"></script>
        <script src="~/Scripts/portfolio.js"></script>
        <script>
            window.getContextPath = function() {
                return window.location.origin;
            }
        </script>
        @RenderSection("scripts", false)
    </body>
</html>