<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/images/ico/favicon.ico">

        <title>Eventeam</title>

        <!-- CSS -->
        <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        @Styles.Render("~/Content/site")

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images/common/logo-eventeam-white.png" alt="Eventeam"></a>
                </div>
                <div class="collapse navbar-collapse">             
                    <ul id="navigation" class="nav navbar-nav navbar-right">
                        <li class="hidden-sm menu-item">
                            <a href="@Url.Action("Index", "Home")">Главная</a>
                        </li>
                        <li class="hidden-sm menu-item">
                            <a href="@Url.Action("Portfolio", "Projects")">Портфолио</a>
                        </li>
                        <li class="hidden-sm menu-item">
                            <a href="@Url.Action("Platforms", "Platforms")">Площадки</a>
                        </li>
                        <li class="hidden-sm menu-item">
                            <a href="@Url.Action("ContactUs", "Home")">Контакты</a>
                        </li> 
                    </ul>             
                </div><!--/.nav-collapse -->
            </div>
        </div> <!-- / .navigation -->
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Contact Us -->
                    <div class="col-sm-4">
                        <h4><i class="fa fa-map-marker text-theme-primary"></i> Как нас найти?</h4>
                        <p>По карте. По навигатору. По зову сердца!</p>
                        <p>
                            <strong>Адрес:</strong> г.Киев, ул. Сергея Струтинского, 13-15, IQ Business Centre<br />
                            <strong>E-mail:</strong> <a href="mailto:event@eventeam.com.ua">event@eventeam.com.ua</a><br />
                            <strong>Тел.:</strong> <a href="callto:+380675054650">+38 (067) 505-46-50</a>, 
                            <a href="callto:+380675054650">+38 (050) 371 90 91</a><br />
                            <strong>График работы:</strong> 24/7
                        </p>
                            <div class="social">
                                <ul class="list-inline">
                                    <li><a href="http://www.facebook.com/eventeam.international" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://www.facebook.com/eventeam.international" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="http://www.facebook.com/eventeam.international" class="plus" target="_blank"><i class="fa fa-plus"></i></a></li>
                                    <li><a href="http://www.facebook.com/eventeam.international" class="vk" target="_blank"><i class="fa fa-vk"></i></a></li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
           
        </footer>
        <!-- Copyright -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright">
                        Copyright &copy; 2015 - @DateTime.Now.Year. Eventeam. All Rights Reserved.
                    </div>
                </div>
            </div>  <!-- / .row -->
        </div> <!-- / .container -->

        <div id="divLoading" class="loading">
            <img src="~/images/loading.svg" alt="Загрузка..." class="loading-image">
        </div>
    
        <!-- JS Global -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

        <!-- JS Plugins -->
        @Scripts.Render("~/bundles/plugins")
        
        <script src="~/Scripts/lightbox.min.js"></script>
        <script src="~/Scripts/isotope.pkgd.min.js"></script>
        <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
        <script src="~/Scripts/jquery.bootpaq.min.js"></script>

        <!-- JS Custom -->
        @Scripts.Render("~/bundles/custom")

        <script>
            window.getContextPath = function() {
                return window.location.origin;
            }

            window.prepareLink = function(rawStringLink) {
                return rawStringLink.replace(/~/, getContextPath());
            }
            $(document).ready(function() {
                $("#navigation li.menu-item").removeClass('active');
                var item = $("#navigation li.menu-item:contains('@ViewBag.Active')");
                item.addClass("active");
            });
        </script>

        @RenderSection("scripts", false)
                  
    </body>
</html>