<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="~/images/ico/favicon.ico">

        <title>Eventeam</title>

        <!-- CSS Global -->
        <link href="~/Content/style.css" rel="stylesheet">

        <!-- CSS Plugins -->
        <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/Content/animate.css" rel="stylesheet">
        
        <!-- CSS Custom -->
        <link href="~/Content/site.css" rel="stylesheet">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
        <link href="~/Content/lightbox.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images/common/logo-eventeam-white.png" alt="Eventeam"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <a class="btn btn-theme-primary navbar-btn navbar-right hidden-sm hidden-xs">Sign In</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden-sm">
                            <a href="@Url.Action("Index", "Home")">Главная</a>
                        </li>
                        <li class="hidden-sm">
                            <a href="@Url.Action("Portfolio", "Projects")">Портфолио</a>
                        </li>
                        <li class="hidden-sm">
                        <li><a href="@Url.Action("Platforms", "Platforms")">Площадки</a>
                        </li>
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Площадки <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Platforms", "Platforms")">Площадки</a></li>
                                <li><a href="@Url.Action("PlatformItem", "Platforms")">Shop Item</a></li>
                                <li><a href="@Url.Action("ShoppingCart", "Home")">Shopping Cart</a></li>
                                <li><a href="@Url.Action("UserProfile", "Home")">User Profile</a></li>
                            </ul>
                        </li>-->

                        <!-- Navbar Search -->
                        <li class="hidden-xs hidden-sm" id="navbar-search">
                            <a href="#">
                                <i class="fa fa-search"></i>
                            </a>
                            <div class="hidden" id="navbar-search-box">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Mobile Search -->
                    <form class="navbar-form navbar-right visible-xs visible-sm" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-theme-primary" type="button">Search!</button>
                            </span>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div> <!-- / .navigation -->
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Contact Us -->
                    <div class="col-sm-4">
                        <h4><i class="fa fa-map-marker text-theme-primary"></i> Как нас найти?</h4>
                        <p>По карте. По навигатору. По зову сердца!</p>
                        <p>
                            <strong>Адрес:</strong> г.Киев, ул. Сергея Струтинского, 13-15, IQ Business Centre<br />
                            <strong>E-mail:</strong> <a href="mailto:event@eventeam.com.ua">event@eventeam.com.ua</a><br />
                            <strong>Тел.:</strong> <a href="callto:+380675054650">+38 (067) 505-46-50</a>, 
                            <a href="callto:+380675054650">+38 (050) 371 90 91</a><br />
                            <strong>График работы:</strong> 24/7
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright">
                        Copyright &copy; 2014 - @DateTime.Now.Year. Eventeam. All Rights Reserved
                    </div>
                </div>
            </div>  <!-- / .row -->
        </div> <!-- / .container -->
       
        <!-- JS Global -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

        <!-- JS Plugins -->
        <script src="~/Scripts/scrolltopcontrol.js"></script>
        <script src="~/Scripts/lightbox.min.js"></script>
        <script src="~/Scripts/isotope.pkgd.min.js"></script>
        <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
        <script src="~/Scripts/jquery.bootpaq.min.js"></script>

        <!-- JS Custom -->
        <script src="~/Scripts/custom.js"></script>
        <script src="~/Scripts/index.js"></script>

        <script>
            window.getContextPath = function() {
                return window.location.origin;
            }

            window.prepareLink = function(rawStringLink) {
                return rawStringLink.replace(/~/, getContextPath());
            }
        </script>
        @RenderSection("scripts", false)
    </body>
</html>