<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Blog</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- Search -->
                <form role="form">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search here...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-theme-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div>
                </form>
                <!-- Categories -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Categories
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Databases (12)</a></li>
                            <li><a href="#">Design (25)</a></li>
                            <li><a href="#">Hardware (17)</a></li>
                            <li><a href="#">Management (15)</a></li>
                            <li><a href="#">Security (8)</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Tags -->
                <p class="blog-tags">
                    <a href="#">Bootstrap</a>
                    <a href="#">lorem</a>
                    <a href="#">ipsum</a>
                    <a href="#">dolor</a>
                    <a href="#">sit</a>
                    <a href="#">amet</a>
                    <a href="#">consectetur</a>
                    <a href="#">elit</a>
                    <a href="#">Nulla</a>
                    <a href="#">dapibus</a>
                    <a href="#">lorem</a>
                </p>
            </div>
            <div class="col-sm-9">
                <!-- Blog Post #1 -->
                <div class="blog">
                    <img src="~/images/photo-1.jpg" alt="...">
                    <div class="blog-desc">
                        <h3>
                            <a href="@Url.Action("BlogPostSidebarLeft", "Home")">Sed lacinia suscipit lacus non sodales. Pellentesque lacinia ornare justo eu tincidunt.</a>
                        </h3>
                        <hr>
                        <p class="text-muted">by John Doe on March 25, 2014</p>
                        <p>
                            Nam ultrices, orci sit amet dignissim dignissim, tellus elit consequat dui, eu venenatis urna nisi non est. Aliquam egestas pulvinar ornare. Aenean et vulputate lacus. Ut eget purus ut ante imperdiet feugiat quis vel elit. Donec imperdiet enim quis risus porttitor congue. Vestibulum vel tristique urna. Pellentesque nulla leo, laoreet sed luctus eu, dapibus id lorem. Pellentesque eu tincidunt odio. Proin imperdiet bibendum mauris, ut bibendum odio mollis id.
                        </p>
                        <a class="btn btn-lg btn-theme-primary" href="@Url.Action("BlogPostSidebarLeft", "Home")">Read More...</a>
                        <a href="@Url.Action("BlogPostSidebarLeft", "Home")"><img class="img-responsive" src="~/images/general-3.jpg" alt="..."></a>
                        <p class="blog-tags">
                            <a href="#">Bootstrap</a>
                            <a href="#">HTML5</a>
                            <a href="#">CSS</a>
                            <a href="#">jQuery</a>
                        </p>
                    </div>
                </div>
                <!-- Blog Post #2 -->
                <div class="blog">
                    <img src="~/images/photo-2.jpg" alt="...">
                    <div class="blog-desc">
                        <h3>
                            <a href="@Url.Action("BlogPostSidebarLeft", "Home")">Aliquam placerat ligula nec augue sollicitudin porta.</a>
                        </h3>
                        <hr>
                        <p class="text-muted">by John Doe on March 15, 2014</p>
                        <p>
                            Nam ultrices, orci sit amet dignissim dignissim, tellus elit consequat dui, eu venenatis urna nisi non est. Aliquam egestas pulvinar ornare. Aenean et vulputate lacus. Ut eget purus ut ante imperdiet feugiat quis vel elit. Donec imperdiet enim quis risus porttitor congue. Vestibulum vel tristique urna. Pellentesque nulla leo, laoreet sed luctus eu, dapibus id lorem. Pellentesque eu tincidunt odio. Proin imperdiet bibendum mauris, ut bibendum odio mollis id.
                        </p>
                        <a class="btn btn-lg btn-theme-primary" href="@Url.Action("BlogPostSidebarLeft", "Home")">Read More...</a>
                        <a href="@Url.Action("BlogPostSidebarLeft", "Home")"><img class="img-responsive" src="~/images/general-4.jpg" alt="..."></a>
                        <p class="blog-tags">
                            <a href="#">Bootstrap</a>
                            <a href="#">HTML5</a>
                            <a href="#">CSS</a>
                            <a href="#">jQuery</a>
                        </p>
                    </div>
                </div>

                <!-- Pagination -->
                <ul class="pagination pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->