<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Blog Post</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="javascript:void(0);">Blog</a></li>
                        <li class="active">Blog Post</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <!-- Blog Post #1 -->
                <div class="blog">
                    <img src="~/images/photo-1.jpg" alt="...">
                    <div class="blog-desc">
                        <h3>
                            <a href="@Url.Action("BlogPostSidebarRight", "Home")">Sed lacinia suscipit lacus non sodales. Pellentesque lacinia ornare justo eu tincidunt.</a>
                        </h3>
                        <hr>
                        <p class="text-muted">by John Doe on March 25, 2014</p>
                        <p>
                            Nam ultrices, orci sit amet dignissim dignissim, tellus elit consequat dui, eu venenatis urna nisi non est. Aliquam egestas pulvinar ornare. Aenean et vulputate lacus. Ut eget purus ut ante imperdiet feugiat quis vel elit. Donec imperdiet enim quis risus porttitor congue. Vestibulum vel tristique urna. Pellentesque nulla leo, laoreet sed luctus eu, dapibus id lorem. Pellentesque eu tincidunt odio. Proin imperdiet bibendum mauris, ut bibendum odio mollis id.
                        </p>
                        <img class="img-responsive" src="~/images/general-3.jpg" alt="...">
                        <p>
                            Nulla fringilla lacinia tortor eget auctor. Morbi vulputate tincidunt justo, quis viverra arcu dapibus sit amet. Sed facilisis lectus non lacus tincidunt interdum. Pellentesque congue posuere urna quis condimentum. Maecenas non molestie leo. Quisque eget tortor tellus. Duis lacinia est vel blandit fermentum. Duis quis arcu mauris. Mauris et facilisis orci, sed pretium enim. In hac habitasse platea dictumst. Pellentesque eget tempor nisl, quis tempus ipsum. Nunc egestas neque ac velit lobortis pulvinar.
                            <br /><br />
                            Aliquam neque metus, ornare eget tincidunt a, hendrerit ultricies nunc. Duis ornare semper eleifend. Suspendisse tellus justo, tristique vel eros ut, lacinia gravida arcu. Etiam erat ligula, mattis pellentesque velit id, facilisis ultricies sapien. Donec ultrices sodales velit ut placerat. Fusce id mi mattis est bibendum iaculis sit amet vitae lectus. Quisque tempus fringilla neque et accumsan. Etiam at metus laoreet, suscipit justo faucibus, lacinia massa. Pellentesque felis nibh, interdum id mi vel, ultrices fermentum quam.
                        </p>
                        <!-- Tags -->
                        <p class="blog-tags">
                            <a href="#">Bootstrap</a>
                            <a href="#">lorem</a>
                            <a href="#">ipsum</a>
                            <a href="#">dolor</a>
                        </p>
                    </div>
                </div>
                <!-- Pagination -->
                <ul class="pager pull-right">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
                <div class="clearfix"></div>
            
                <div class="comments">
                    <!-- New comment form -->
                    <div class="cmt well">
                        <img src="~/images/photo-1.jpg" alt="...">
                        <div class="cmt-block">
                            <strong>Alex Smith</strong>
                            <form role="form" class="cmt-body">
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="Enter your comment here"></textarea>
                                </div>
                                <button type="submit" class="btn btn-theme-primary btn-sm">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!-- List of comments -->
                    <h4 class="text-right">3 comments</h4>
                    <hr>
                    <div class="cmt">
                        <img src="~/images/photo-2.jpg" alt="...">
                        <div class="cmt-block">
                            <a href="@Url.Action("UserProfile", "Home")" class="profile-link">John Doe</a> <span class="text-muted time">20 minutes ago</span>
                            <span class="rating pull-right">
                                <span class="up">0</span>
                                <i class="fa fa-thumbs-up voteup"></i>  <i class="fa fa-thumbs-down votedown"></i>
                                <span class="down">0</span>
                            </span>
                            <p class="cmt-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis nibh nibh, a aliquam leo suscipit ac. Praesent ultricies nibh quis nisi placerat tristique non lobortis diam!
                            </p>
                            <ul class="list-inline">
                                <li><a href="#">Answer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cmt">
                        <img src="~/images/photo-3.jpg" alt="...">
                        <div class="cmt-block">
                            <a href="@Url.Action("UserProfile", "Home")" class="profile-link">John Doe</a> <span class="text-muted time">1 hour ago</span>
                            <span class="rating pull-right">
                                <span class="up">0</span>
                                <i class="fa fa-thumbs-up voteup"></i>  <i class="fa fa-thumbs-down votedown"></i>
                                <span class="down">0</span>
                            </span>
                            <p class="cmt-body">
                                Praesent ultricies nibh quis nisi placerat tristique non lobortis diam. Quisque ac quam ut magna malesuada imperdiet ut a odio. Aliquam erat volutpat. Nullam non elit orci.
                            </p>
                            <ul class="list-inline">
                                <li><a href="#">Answer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cmt">
                        <img src="~/images/photo-1.jpg" alt="...">
                        <div class="cmt-block">
                            <a href="@Url.Action("UserProfile", "Home")" class="profile-link">John Doe</a> <span class="text-muted time">08/01/2014</span>
                            <span class="rating pull-right">
                                <span class="up">0</span>
                                <i class="fa fa-thumbs-up voteup"></i>  <i class="fa fa-thumbs-down votedown"></i>
                                <span class="down">0</span>
                            </span>
                            <p class="cmt-body">
                                Duis vitae mollis massa. Nunc eleifend velit sit amet lorem commodo, a faucibus metus imperdiet. Maecenas vitae pellentesque lacus. Duis cursus lacus non porta eleifend. Nunc elementum, metus vitae ornare euismod, nulla felis pulvinar nunc, condimentum bibendum lacus elit in neque. Nunc hendrerit sit amet ipsum in elementum. Maecenas vel libero varius, convallis dui vel, ultricies urna.
                            </p>
                            <ul class="list-inline">
                                <li><a href="#">Answer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- Search -->
                <form role="form">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search here...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-theme-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div>
                </form>
                <!-- Categories -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Categories
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Databases (12)</a></li>
                            <li><a href="#">Design (25)</a></li>
                            <li><a href="#">Hardware (17)</a></li>
                            <li><a href="#">Management (15)</a></li>
                            <li><a href="#">Security (8)</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Tags -->
                <p class="blog-tags">
                    <a href="#">Bootstrap</a>
                    <a href="#">lorem</a>
                    <a href="#">ipsum</a>
                    <a href="#">dolor</a>
                    <a href="#">sit</a>
                    <a href="#">amet</a>
                    <a href="#">consectetur</a>
                    <a href="#">elit</a>
                    <a href="#">Nulla</a>
                    <a href="#">dapibus</a>
                    <a href="#">lorem</a>
                </p>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->