<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Портфолио</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Portfolio</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- Categories -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Формат
                    </div>
                    <div class="panel-body">
                        <ul id="filters">
                            <li><a href="#" data-filter="*">Все</a></li>
                            <li><a href="#" data-filter=".modernism">Конференция</a></li>
                            <li><a href="#" data-filter=".impressionism">Выездное событие</a></li>
                            <li><a href="#" data-filter=".photorealism">Корпоративный праздник</a></li>
                            <li><a href="#" data-filter=".surrealism">Детский праздник</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row" id="isotope-container">
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item modernism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/kanefronfest-2014/kanefronfest_001-.jpg" alt="Канефронфест-2014">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/kanefronfest-2014/kanefronfest_001--400x250.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 1})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item impressionism photorealism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-2.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-2.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 2})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item photorealism surrealism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-3.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-3.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 3})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item modernism surrealism impressionism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-4.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-2.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 4})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item impressionism surrealism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-1.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-1.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("Portfolio", "Projects")"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item photorealism surrealism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-2.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-2.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("Portfolio", "Projects")"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item modernism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-3.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-3.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("Portfolio", "Projects")"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item impressionism surrealism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-4.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-2.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("Portfolio", "Projects")"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item photorealism">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/general-3.jpg" alt="...">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/general-3.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("Portfolio", "Projects")"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->