@{
    ViewBag.Active = "Портфолио";
}
<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Портфолио</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                        <li class="active">Портфолио</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- Categories -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Направления
                    </div>
                    <div class="panel-body">
                        <ul id="filters">
                            <li><a href="#" data-filter="*">Все</a></li>
                            <li><a href="#" data-filter=".events">Бизнес-мероприятия</a></li>
                            <li><a href="#" data-filter=".trips">Бизнес-поездки</a></li>
                            <li><a href="#" data-filter=".presents">Бизнес-подарки</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row" id="isotope-container">
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item events">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/kanefronfest-2014/kanefronfest_008-.jpg" alt="Канефронфест-2014">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/kanefronfest-2014/kanefronfest_001--400x250.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 1})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item impressionism trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/ERS-2014/amsterdam_015_slider-.jpg" alt="Европейский конгресс отоларингологов ERS-2014">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/ERS-2014/amsterdam_015_slider--400x250.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 2})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item photorealism presents">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/CIPP-XIII/belgiya_053-.jpg" alt="Международный конгресс педиатров CIPP — XIII">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/CIPP-XIII/belgiya_053--400x250.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 3})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item presents events trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/legendLviv/lviv_ira_046_slider-.jpg" alt="Легендарный Львов">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/legendLviv/lviv_ira_046_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 4})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item presents events">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/hipsters-golden-dawn/stilyagi_016_slider-.jpg" alt="Стиляги Золотого Рассвета">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/hipsters-golden-dawn/stilyagi_016_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new {id = 10})"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/indian-new-year-party/indian_0072--400x250.jpg" alt="Indian New Year Party">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/indian-new-year-party/indian_0072--400x250.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 11 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item events">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/we-building-life/bosch-fotoquest_008_slider-.jpg" alt="Мы строим жизнь">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/we-building-life/bosch-fotoquest_008_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 12 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item presents trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/strength-of-plants/poltava_kalendar_014_slider-.jpg" alt="Сказочная сила растений">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/strength-of-plants/poltava_kalendar_014_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 13 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/fitoteka/fitoteka_009_slider-.jpg" alt="Фитотека">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/fitoteka/fitoteka_009_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 14 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/stars-of-renaissance/renassans_mart_001_slider-.jpg" alt="Звезды Ренессанса">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/stars-of-renaissance/renassans_mart_001_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 15 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/fetal-medicine/slider_isida_005_slider-.jpg" alt="Медецина Плода">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/fetal-medicine/slider_isida_005_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 16 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/deer-vs-hare/zaici-vs-oleni_012_slider-.jpg" alt="ЗАЙЦЫ vs ОЛЕНИ">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/deer-vs-hare/zaici-vs-oleni_012_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 17 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 isotope-item trips">
                        <div class="portfolio-item">
                            <div class="portfolio-thumbnail">
                                <img class="img-responsive" src="~/images/portfolio/workshop-by-sosnovskih/sosnovskih_006_slider-.jpg" alt="Мастер-класс Сосновских">
                                <div class="mask">
                                    <p>
                                        <a href="~/images/portfolio/workshop-by-sosnovskih/sosnovskih_006_slider-.jpg" data-lightbox="template_showcase"><i class="fa fa-search-plus fa-2x"></i></a>
                                        <a href="@Url.Action("PortfolioItem", "Projects", new { id = 18 })"><i class="fa fa-info-circle fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .portfolio-item -->
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->

@section scripts
{
    @Scripts.Render("~/bundles/portfolio")
}