@using Eventeam.Models
@model Eventeam.Models.ProjectViewModel
@{
    ViewBag.Active = "Портфолио";
}

<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Портфолио</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                        <li><a href="@Url.Action("Portfolio", "Projects")">Портфолио</a></li>
                        <li class="active">О проекте</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="headline"><span>О проекте</span></h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Формат
                            <td>
                            <td>@Model.FormatName</td>
                        </tr>
                        <tr>
                            <td>Заказчик
                            <td>
                            <td>@Model.Сustomer</td>
                        </tr>
                        <tr>
                            <td>Участники
                            <td>
                            <td>@Model.Participants</td>
                        </tr>
                        <tr>
                            <td>Локация
                            <td>
                            <td>@Model.Location</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8">
                <div class="portfolio-slideshow">
                    <!-- Image Carousel -->
                    <div id="portfolio-slideshow" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#portfolio-slideshow" data-slide-to="0" class="active"></li>
                            <li data-target="#portfolio-slideshow" data-slide-to="1"></li>
                            <li data-target="#portfolio-slideshow" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner narrow">
                            @for (var i = 0; i < Model.MainPhotoList.Count; ++i)
                            {
                                var p = @Model.MainPhotoList[i];
                                var item = i == 0 ? "item active" : "item";

                                <div class="@item">
                                    <img src=@Url.Content(p.Link) class="img-responsive" alt="@p.Alt">
                                </div>
                            }
                        </div>

                        <!-- Controls -->
                        <a class="carousel-arrow carousel-arrow-prev" href="#portfolio-slideshow" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-arrow carousel-arrow-next" href="#portfolio-slideshow" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>

               
                <br/>
                <h3 class="headline second-child"><span>@Model.ProjectName</span></h3>
                <div role="tabpanel">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#task" id="task-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Задача</a></li>
                        <li role="presentation" class=""><a href="#profile" role="tab" id="implementation-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Реализация</a></li>
                        <li role="presentation" class=""><a href="#result" role="tab" id="result-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Результат</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="task" aria-labelledby="task-tab">
                            <p>@Html.Raw(@Model.Task)</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="implementation-tab">
                            <p>@Html.Raw(@Model.Implementation)</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="result" aria-labelledby="result-tab">
                            <p>@Html.Raw(@Model.Result)</p>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-sm-12">
                <h3 class="headline"><span>Фото</span></h3>
            </div>
            <div id="photo-gallery"></div>
            <div class="col-sm-12 footer-block">
                <hr/>
                <div id="page-selection" class="pull-right pagination pagination-sm"></div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->

@section scripts
{
    <script src="~/Scripts/portfolio.js"></script>
    <script type="text/javascript">
        var model = JSON.parse('@Html.Raw(Json.Encode(Model))');
    </script>
}